{% extends "base.html" %}
{% block content %}
<h2 class="mb-3">Choose Quiz Algorithm</h2>
<select id="quiz-algo" class="form-select mb-3" style="max-width:350px;">
    <option value="">--Select Algorithm--</option>
    <option value="stack">Stack</option>
    <option value="queue">Queue</option>
    <option value="bst">BST</option>
    <option value="bubble">Bubble Sort</option>
    <option value="merge">Merge Sort</option>
    <option value="quick">Quick Sort</option>
    <option value="linear">Linear Search</option>
    <option value="binary">Binary Search</option>
    <option value="dfs">DFS</option>
    <option value="bfs">BFS</option>
</select>
<button onclick="loadQuiz()" class="btn btn-primary mb-3">Start Quiz</button>
<div id="quiz-area"></div>
<script src="/static/js/quiz.js"></script>
{% endblock %}
